html,body { 
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  text-rendering: optimizelegibility !important;
  animation: fadeEffect 0.5s;
}
section{
  margin:2rem;
  z-index: 1;
}

p{
    line-height: 1.25em;
    padding: 0 0 1em 0;
    text-align: justify;
}
img,div{
  border-radius: .5rem;
}

@keyframes fadeEffect {
  from {opacity: 0;}
  to {opacity: 1;}
}

.avatar{
  margin: .2rem;
}
.avatar img {
  padding: .5rem;
  background: #fff;
  border-radius: 50%;
  -webkit-box-shadow: 0 2px 3px rgba(10,10,10,.1), 0 0 0 1px rgba(10,10,10,.1);
  box-shadow: 0 2px 3px rgba(10,10,10,.1), 0 0 0 1px rgba(10,10,10,.1);
}
.footer{
  background-color: #888;
  color: #fff; 
  margin:0; 
  padding:2rem;
}
.footer a {
  color: #fff;
}

.social_img{
  width: 64px;
  border-radius: 50%;
  background: #fff;
  border: solid;  
}

.card{
  padding: 1rem;
  margin: auto;
}
.content-title{

}
.content{
  text-align: justify;
  font-size: 0.9rem;
}

.cardlink{
  color: inherit;
}

.reading{
  line-height:1.5;
  text-indent: 1.5em;
  font-size: 1.2rem;  
  text-align: justify;
}
.card-type{
  position: absolute;
  top: 0;
  right: 0;
  padding: .5rem;
  margin: .5rem;
  font-size: 1.5rem;
  border-radius: 50%;
  background-color: white;
  width:2.5rem;
  height: 2.5rem;
  display: flex;
  justify-content: center;
  align-items: center;  
}

.card-content{
  padding: 0;
}

.blog{
  margin-top: 3rem;
  border-radius: 10px;
}

.blog-title {
  font-size: 1.8rem;
  margin:1rem !important;
  text-align: center;
  letter-spacing: .05em;
}
.blog-subtitle {
  color: grey;
  text-align: center;
  padding: 0;
}
.blog-body {
  line-height: 1.4;
  margin: 0 1rem;
  font-size: 1.3rem;
  letter-spacing: .03em;
  overflow-wrap: break-word;
}
