html,body { 
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}
section{
  margin:2rem;
  z-index: 1;
}

p{
    line-height: 1.25em;
    padding: 0 0 1em 0;
    text-align: justify;
}

.avatar{
  margin: 1rem;
}
.avatar img {
  padding: .5rem;
  background: #fff;
  border-radius: 50%;
  -webkit-box-shadow: 0 2px 3px rgba(10,10,10,.1), 0 0 0 1px rgba(10,10,10,.1);
  box-shadow: 0 2px 3px rgba(10,10,10,.1), 0 0 0 1px rgba(10,10,10,.1);
}
.footer{
  background-color: #888;
  color: #fff; 
  margin:0; 
  padding:2rem;
}
.footer a {
  color: #fff;
}

.social_img{
  width: 64px;
  border-radius: 50%;
  background: #fff;
  border: solid;  
}

.card{
  padding: .1rem;
}

.content{
  text-align: justify;
  font-size: 0.9rem;
}

.cardlink{
  color: inherit;
}

.reading{
  line-height:1.5;
  text-indent: 1.5em;
  font-size: 1.2rem;  
  text-align: justify;
}