<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8">
    <title>{{ escape(glob.title(template)) }}</title>
    <meta name="viewport" content="width=device-width,height=device-height initial-scale=1">
    {% for key in glob.data["meta"].keys() %}
      <meta name="{{ key }}" content="{{ glob.data["meta"][key] }}">
    {% end %}
    <link rel="stylesheet" href="/heap/bulma.min.css">
    <!-- <link rel="stylesheet" href="/heap/fontawesome/css/all.css"> -->
    <link rel="stylesheet" href="/heap/main.css">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css">
    
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <!--<script async src="https://www.googletagmanager.com/gtag/js?id=UA-164503829-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-164503829-1');
    </script>-->

    <style>
        .bgimage {
          background-image: url("/heap/glob/{{ escape(glob.data["background"]) }}");
          background-repeat: no-repeat;
          background-position: left top;
          background-size: cover;
          background-attachment: fixed;
          filter: opacity(30%);
          -webkit-filter: opacity(30%);
          position: fixed;
          width: 100vw;
          height: 100vh;
          z-index:0;        
        }
    </style>
</head>
<body class="has-navbar-fixed-top">
<div class="bgimage"></div>    
<!--
_______________________________________________________________________________________________




                    NAV BAR



_______________________________________________________________________________________________
-->
<nav class="navbar is-fixed-top is-dark" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a class="navbar-item" href="https://nuraykaya.com">
      <span>{{ escape(glob.data["titles"]["main"]) }}</span>
    </a>

    <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>

  <div id="navbarBasicExample" class="navbar-menu">
    <div class="navbar-start">
      {% for item in glob.data["menu"] %}
        {% if item["page"] != "/"+template %}
          <a class="navbar-item" href="{{ item["page"] }}">
            {{ item["label"] }}
          </a>
          {% end %}
      {% end %}
    </div>

    <div class="navbar-end">
    </div>
  </div>
</nav>
<script>
document.addEventListener('DOMContentLoaded', () => {

  // Get all "navbar-burger" elements
  const $navbarBurgers = Array.prototype.slice.call(document.querySelectorAll('.navbar-burger'), 0);

  // Check if there are any navbar burgers
  if ($navbarBurgers.length > 0) {

    // Add a click event on each of them
    $navbarBurgers.forEach( el => {
      el.addEventListener('click', () => {

        // Get the target from the "data-target" attribute
        const target = el.dataset.target;
        const $target = document.getElementById(target);

        // Toggle the "is-active" class on both the "navbar-burger" and the "navbar-menu"
        el.classList.toggle('is-active');
        $target.classList.toggle('is-active');

      });
    });
  }

});    
</script>



{% block content %}
{% end %}


<!--
_______________________________________________________________________________________________




                    SHARE BUTTONS



_______________________________________________________________________________________________
-->

<section class="hero">    
    <div class="container" style="width:100%;">
      <!-- AddToAny BEGIN -->
      <div class="a2a_kit a2a_kit_size_32 a2a_default_style">
          <a class="a2a_button_copy_link"></a>
          <a class="a2a_button_facebook"></a>
          <a class="a2a_button_twitter"></a>
          <a class="a2a_button_email"></a>
          <a class="a2a_button_whatsapp"></a>
          <a class="a2a_button_tumblr"></a>
          <a class="a2a_button_linkedin"></a>
          <a class="a2a_dd" href="https://www.addtoany.com/share"></a>
      </div>
      <script async src="https://static.addtoany.com/menu/page.js"></script>
      <!-- AddToAny END -->
  </div>
</section>

<!--
_______________________________________________________________________________________________




                    CONTACT



_______________________________________________________________________________________________
-->
<a id="contact"></a>
<section class="footer"  style="min-height: 100%;">
    <div class="container">
        <div class="columns is-vcentered">
            <div class="column">
                <p class="is-size-3" style="text-align: left">{{ escape(glob.data["contact"]["adressTitle"]) }}</p>
                <p class="is-size-4" style="text-align: left">{{ escape(glob.data["contact"]["adress"]) }}</p>
                <br/>
                <iframe src="{{ escape(glob.data["contact"]["mapframe"]) }}" width="90%" frameborder="0" style="border:0;" allowfullscreen=""></iframe>
            </div>

            <div class="column">
                <div class="columns is-multiline">                     
                    
                    <div class="column has-text-centered">
                        <a target="_blank" href="mailto:{{ escape(glob.data["contact"]["mail"]) }}">
                            <img class="social_img" src="/heap/icons/gm.svg"></img>
                            <p class="has-text-centered">{{ escape(glob.data["contact"]["mailLabel"]) }}</p>
                            </a>
                    </div>
                    
                    <div class="column has-text-centered">
                        <a target="_blank" href="{{ escape(glob.data["contact"]["instagram"]) }}">
                            <img class="social_img" src="/heap/icons/ins.svg"></img>
                            <p  class="has-text-centered">{{ escape(glob.data["contact"]["instagramLabel"]) }}</p>
                            
                        </a>
                    </div>

                    <div class="column has-text-centered">
                        <a target="_blank" href="{{ escape(glob.data["contact"]["facebook"]) }}">
                            <img class="social_img" src="/heap/icons/fb.svg"></img>
                            <p class="has-text-centered">{{ escape(glob.data["contact"]["facebookLabel"]) }}</p>
                        </a>
                    </div>

                    <div class="column has-text-centered">
                        <a target="_blank" href="{{ escape(glob.data["contact"]["facebook2"]) }}">
                            <img class="social_img" src="/heap/icons/fb.svg"></img>
                            <p class="has-text-centered">{{ escape(glob.data["contact"]["facebookLabel2"]) }}</p>
                        </a>
                    </div>


                    <div class="column has-text-centered">
                        <a target="_blank" href="{{ escape(glob.data["contact"]["youtube"]) }}">
                            <img class="social_img" src="/heap/icons/yb.svg"></img>
                            <p class="has-text-centered">{{ escape(glob.data["contact"]["youtubeLabel"]) }}</p>
                        </a>
                    </div>

                    <div class="column has-text-centered">
                        <a target="_blank" href="{{ escape(glob.data["contact"]["blog"]) }}">
                            <img class="social_img" src="/heap/icons/bg.svg"></img>
                            <p class="has-text-centered">{{ escape(glob.data["contact"]["blogLabel"]) }}</p>
                        </a>
                    </div>
                </div>

            </div>
        </div>
        <div style="text-align: center;">
          <a rel="license" href="http://creativecommons.org/licenses/by-nc/4.0/"><img alt="Creative Commons Lisansı" style="border-width:0" src="https://i.creativecommons.org/l/by-nc/4.0/88x31.png" /></a><br />{% raw glob.data["licence-text"] %}
        </div>
        <div class="is-size-7" style="text-align: center; margin:1rem;">
          <label>{{ escape(glob.data["statistics"]["t_label"]) }}</label>
          <label>{{ str(glob.data["statistics"]["t"]) }}</label>
        </div>
    </div>
</section>

<section style="margin: 0;  background: black;">
  <div class="container is-size-7" style="text-align: right;">
    <label style="color: #3273dc;">by CookieMonster</label> 
    <a style="margin-right:1rem;" href="https://github.com/alierkanimrek" target="_blank">
      <i class="fab fa-github"></i>
    </a>
  </div>
</section>
</body>
</html>
