{% extends "base.html" %}


{% block content %}

<!-- START CONTENT -->
<section>
    <div class="container">
        <div class="columns is-vcentered">
            <div class="column ">
                <figure class="avatar"> <img src="/heap/prof/{{ escape(prof.data[id]["img"]) }}"></figure>
            </div>
            <div class="column">
                <div class="hero-body">
                    <div class="container has-text-centered">
                    <h1 class="title">{{ escape(glob.title(template)) }}</h1>
                    <a href="https://forms.gle/ttqqBhv7VuGcVtiS6" target="_blank"><button class="button is-success">Yorum Yapın</button></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

{% include notify.html %}

{% if form1.last %}
<section class="hero">
    
    <div class="container" style="width:100%;">
        {% for comment in form1.formdata.comments %}
        <a name="{{url_escape(comment.nickname)}}"></a>
        <br/><br/>
        <div class="">
            <div class="">
                <div style="float:left; margin-right: 0.5rem;">
                    <i class="fa fa-comments is-size-2"></i>
                </div>
                <span class="has-text-link is-size-5">@{{escape(comment.nickname)}}&nbsp;</span>
                <span>
                    
                    {% for star in range(int(comment.vote.split(" ")[0])) %}
                    <i class="fa fa-star" style="color:#ffb600;"></i>
                    {% end %}
                </span>
                <p >
                    <span class="is-italic">{{comment.comment}}</span>
                    <span class="has-text-grey-light has-text-right is-size-7">&nbsp;{{escape(comment.time)}}</span>
                    <!-- <span style="float:right; margin: 0;">
                        <input  value="https://nuraykaya.com/danismanlik/yorum#{{url_escape(comment.nickname)}}" style=" font-size: 0; width: 10px; height: 0;"></input>
                        <i class="fa fa-share-alt" onclick="copyurl(event)"></i> 
                    </span> 
                    <script type="text/javascript">
                        function copyurl(e) {
                          var input = e.target.previousElementSibling;
                          console.log(input)
                          input.style.visibility = "";
                          input.select();
                          document.execCommand("copy");
                          input.style.visibility = "hidden";
                          e.target.className = "fa fa-copy"
                        }
                    </script> -->
                    
                </p>
            </div>

        </div>
        {% end %}
        <a href="https://forms.gle/ttqqBhv7VuGcVtiS6" target="_blank"><button class="button is-success">Yorum Yapın</button></a>
    </div>
</section>
{% end %}
<!-- END CONTENT -->


{% end %}
