{% extends "base.html" %}


{% block content %}

<!-- START CONTENT -->
<section>
    <div class="container">
        <div class="columns is-vcentered">
            <div class="column ">
                <figure class="avatar"> <img src="/heap/prof/{{ escape(prof.data[id]["img"]) }}"></figure>
            </div>
            <div class="column">
                <div class="hero-body">
                    <div class="container has-text-centered">
                    <h1 class="title">{{ escape(glob.title(template)) }}</h1>
                    <a href="https://forms.gle/ttqqBhv7VuGcVtiS6" target="_blank"><button class="button is-success">Yorum Yapın</button></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


{% if form1.last %}
<section class="hero">
    
    <div class="container">
        {% for comment in form1.formdata.comments %}
        <div class="columns is-mobile" >
            <div class="column is-narrow">
                <i class="fa fa-comments is-size-1"></i>
            </div>
            <div class="column">
                <span class="has-text-link">@{{escape(comment.nickname)}}</span>
                <p class="is-italic">{{escape(comment.comment)}} 
                    <span class="has-text-grey-light has-text-right is-size-7">&nbsp;&nbsp;{{escape(comment.time)}}</span>
                </p>
            </div>
        </div>
        {% end %}
        <a href="https://forms.gle/ttqqBhv7VuGcVtiS6" target="_blank"><button class="button is-success">Yorum Yapın</button></a>
    </div>
</section>
{% end %}
<!-- END CONTENT -->


{% end %}
