<!--
_______________________________________________________________________________________________




                    GREETING



_______________________________________________________________________________________________
-->
<section class="hero is-fullheight-with-navbar">
    <div class="container">
        <div class="columns is-vcentered">
            <div class="column ">
                <figure class="avatar" style="margin: 0;"> <img src="/heap/greeting/{{ escape(greeting.data["picture"]) }}"></figure>
            </div>
            <div class="column">
                <div class="hero-body">
                    <div class="container">
                    <h1 class="title">
                    {{ escape(greeting.data["name"]) }}
                    </h1>
                    <p class="subtitle">
                    {% for sub in greeting.data["sub"] %}
                        {{ escape(sub) }}<br/>
                    {% end %}
                    </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% if form1.random %}
<section class="hero">
    <div class="container">
        <div class="columns is-vcentered is-mobile">
            <div class="column is-narrow">
                <i class="fa fa-comments is-size-1"></i>
            </div>
            <div class="column">
                <span class="has-text-link">@{{escape(form1.random.nickname)}}</span>
                <p class="is-italic">{{escape(form1.random.comment)}} 
                    <span class="has-text-grey-light has-text-right is-size-7">&nbsp;&nbsp;{{escape(form1.random.time)}}</span>
                </p>
            </div>
        </div>
    </div>
</section>
{% end %}