<!--
_______________________________________________________________________________________________




                    GREETING



_______________________________________________________________________________________________
-->
<section class="hero is-fullheight-with-navbar">
    <div class="container">
        <div class="columns is-vcentered">
            <div class="column ">
                <figure class="avatar" style="margin: 0;"> <img src="/heap/greeting/{{ escape(greeting.data["picture"]) }}"></figure>
            </div>
            <div class="column">
                <div class="hero-body">
                    <div class="container">
                    <h1 class="title">
                    {{ escape(greeting.data["name"]) }}
                    </h1>
                    <p class="subtitle">
                    {% for sub in greeting.data["sub"] %}
                        {{ escape(sub) }}<br/>
                    {% end %}
                    </p>

                    <div class="columns is-mobile">
                    
                    <div class="column has-text-centered is-narrow">
                        <a target="_blank" href="{{ escape(glob.data["contact"]["instagram"]) }}">
                            <img class="social_img" src="/heap/icons/ins.svg" style="width:3rem; color:white;"></img>
                        </a>
                    </div>

                    <div class="column has-text-centered is-narrow">
                        <a target="_blank" href="{{ escape(glob.data["contact"]["facebook2"]) }}">
                            <img class="social_img" src="/heap/icons/fb.svg" style="width:3rem; color:white;"></img>
                        </a>
                    </div>


                    <div class="column has-text-centered is-narrow">
                        <a target="_blank" href="{{ escape(glob.data["contact"]["youtube"]) }}">
                            <img class="social_img" src="/heap/icons/yb.svg" style="width:3rem; color:white;"></img>
                        </a>
                    </div>

                    <div class="column has-text-centered is-narrow">
                        <a target="_blank" href="{{ escape(glob.data["contact"]["blog"]) }}">
                            <img class="social_img" src="/heap/icons/bg.svg" style="width:3rem; color:white;"></img>
                        </a>
                    </div>
                    </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>