<!--
_______________________________________________________________________________________________




                    NOTIFY



_______________________________________________________________________________________________
-->

<section class="">
    <div class="container">
        <div class="box has-text-danger has-text-justified">
            Danışmanlığımda hiçbir tıbbi, psikolojik ve homeopatik uygulama YAPILMAMAKTA ve hekimler tarafından verilen tedavilere yönelik hiçbir öneri veya müdehalede BULUNULMAMAKTADIR. Sağlık sorunlarınız için mutlaka yetkili sağlık kuruluşlarına ve hekimlere başvurunuz. Danışmanlık hizmetim süresince allopatik tedavilerin aksatılmaması tavsiye edilmektedir. 
        </div>
    </div>
</section>
